<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WhatsApp CTA Button with pure HTML CSS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>

<body>
<figure style="width:40%; text-align: center; display: inline-block;">
  <img src="{{ url_for('static', filename='cat.png') }}" alt="Italian Trulli">
  <h2>You are calling with Professor CAT</h2>
</figure>
<h2>Credit: <span>0.01</span> TON&nbsp;&nbsp;&nbsp;&nbsp;</h2>
<button onclick="location.href='/call_ended'">End call</button>
</body>
</html>
