<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WhatsApp CTA Button with pure HTML CSS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
<figure style="width:40%; text-align: center; display: inline-block;">
  <img src="{{ url_for('static', filename='cat.png') }}" alt="Italian Trulli">
  <h2>You are calling with Professor CAT</h2>
</figure>
<div>
<h2>Time: <span id="time">0 minutes 0 seconds</span>&nbsp;&nbsp;&nbsp;&nbsp;</h2>
<h2>Credit: <span id="balance">x.xxxxxxx</span> TON&nbsp;&nbsp;&nbsp;&nbsp;</h2>
</div>
<button onclick="location.href='/call_ended'">End call</button>

<script>
var startTimestamp = Date.now();
var objPollTimer = setInterval(pollTimer, 1000);
function pollTimer() {
    var d = Date.now();
    var minutes = Math.floor(((d - startTimestamp) / 1000) / 60);
    var seconds = Math.round(((d - startTimestamp) / 1000) - minutes * 60); 
    $("#time").html(minutes + " minutes " + seconds + " seconds");

    $.get({url: "/api/balance", cache: false}).then(function( response ) {
      $("#balance").html(JSON.parse(response).balance.toFixed(8));
    });
}
pollTimer();
</script>
</body>
</html>
