<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WhatsApp CTA Button with pure HTML CSS</title>
  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">

</head>
<body>
  <button onclick="location.href='/calling'"><i class='bx bxl-whatsapp'></i> WhatsApp Now</button>
</body>
</html>

